header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

button {
    width: 6%;
    background-color: #07a4ff;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 3%;
    border-radius: 10px;
    border: white;
  
}
button:hover{
    width: 6%;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 3%;
    border-radius: 10px;
}


header img {
    width: 30px;
}